# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDEs and editors
/.idea
.vscode/*
!.vscode/settings.json
*.sublime-workspace

# Node modules (caso alguém corra npm install)
/node_modules

# Environment variables
.env
.env.local

# Temp
.temp
.tmp

# Zone.Identifier files (Windows)
*:Zone.Identifier
